@use '@/styles/global/' as G;

/* ---------------------------------------------------------
 * container
--------------------------------------------------------- */
.l-page-pddding-lr {
  --page-lr-padding: 17;
  padding-right: G.VW(var(--page-lr-padding));
  padding-left: G.VW(var(--page-lr-padding));
  margin: 0 auto;
  &.is-full {
    padding-right: 0;
    padding-left: 0;
  }
  @include G.MQ_ABOVE_MD {
    --page-lr-padding: 28;
    width: 100%;
    padding-right: calc(var(--page-lr-padding) * 1px);
    padding-left: calc(var(--page-lr-padding) * 1px);
  }
}

.l-content {
  --content-width: 100%;
  width: G.VW(var(--content-width));
  margin-right: auto;
  margin-left: auto;
}
.l-inner {
  --content-width: 100%;
  width: G.VW(var(--content-width));
  margin-right: auto;
  margin-left: auto;
}

.is-full {
  width: auto;
  margin-right: calc(#{G.VW(var(--page-lr-padding))} * -1);
  margin-left: calc(#{G.VW(var(--page-lr-padding))} * -1);
  @include G.MQ_ABOVE_MD {
    margin-right: calc(var(--page-lr-padding) * -1px);
    margin-left: calc(var(--page-lr-padding) * -1px);
  }
}
