/******************************************************************************
* 変数
*******************************************************************************/
/* ---------------------------------------------------------
 * setting
--------------------------------------------------------- */
// 基準とするSPのサイズ
$SP_DESIGN_WIDTH: 375;
$SP_BASE_WIDTH: 375;
$SP_WIDTH_SCALE: $SP_DESIGN_WIDTH / $SP_BASE_WIDTH;

// mq-width
// https://nerdcave.com/tailwind-cheat-sheet
// container を参考
$SM: 640px; // スマートフォン横持(iphone5。ほとんど使わない)
$MD: 768px; // タブレット(ipad最小サイズからiphone Pro Max 横持ちまで)
$LG: 1024px; // ノートPC
$XL: 1280px; // 大画面モニタ(任意。デザインサイズプラス1)
$TWO-XL: 1536px; // 大画面モニタ2
$HD: 1921px; // hd以上

$BLAKE_POINT_LIST: (
  DEFAULT: null,
  MD: $MD,
);
/* ---------------------------------------------------------
 * color
--------------------------------------------------------- */
$COLOR_BLACK: #3c3c3c;
$COLOR_GRAY: null;
$COLOR_LIGHT_GRAY: null;
$COLOR_DARK_GRAY: null;

/* ---------------------------------------------------------
 * font
--------------------------------------------------------- */
// base-font-color
$FONT_COLOR_BASE: $COLOR_BLACK;
$FONT_COLOR_LINK: null;

// base-font-family
$FONT_FAMILY_BASE: -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;

// base-font-size
$FONT_SIZE_BASE_SP: 14 * $SP_WIDTH_SCALE;
$FONT_SIZE_BASE_TAB: null;
$FONT_SIZE_BASE_PC: 16;

// base-line-height:;
$LINE_HEIGHT_BASE: 2;

// base-letter-spacing
$LETTER_SPACING_BASE: 0.04em;
