// **foundation**
@use '@/styles/foundation';
// **foundation**
@use '@/styles/layout'
  with(
    $MARGIN_BOOL: true,
    $PADDING_BOOL: true,
    $WIDTH_BOOL: true,
    $GRID_BOOL: true
  );

// **utility**
@use '@/styles/utility';
